
.hero-container {
    position: relative;
    z-index: 1;
    height: 90vh;
}

.hero-content {
    position: absolute;
    top: 0;
    left: 1rem;
    z-index: 0;

    h1 {
        max-width: 70%;
    }

    p {
        font-size: 1.25rem;
        max-width: 50%;
    }
}

.line {
    height: 1px;
    background-color: #000;
}

@media (min-width: 720px) {
    .hero-content {
        .btn {
            margin: 50px 0;
        }
    }
}

@media (min-width: 1300px) {
    .hero-content {
        margin: 100px 0;

        p {
            font-size: 1.75rem;
        }
    }
}


