.product-main {
    background-image: url("../../../images/background-1.svg");
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: top right;
}

.product-container {
    margin: 200px 0;

    .product {
        max-width: 1200px;
        margin: 0 0 0 180px;
    }

    .product-info {
        max-width: 500px;

        p {
            max-width: 400px;
        }
    }

    .product-image {
        max-width: 500px;
    }
}
