// global styles
body {
    background-color: #FEFEF3 !important;
}

img {
    width: 100%;
}

// icons
.fab {
    font-size: 2rem;
    padding: 0.5rem;
}

.btn-outline-primary button {
    color: $color-text-dark !important;
}
