// global styles
body {
    background-color: #fefef3 !important;
}

img {
    width: 100%;
}

.product-thumb,
.product-image {
    border-radius: 15px;
}

// icons
.fab {
    font-size: 2rem;
    padding: 0.5rem;
}

a.btn.btn-outline-primary,
button.btn-outline-primary {
    color: $color-text-dark !important;
}
