header {
    background-color: $background-color;
}

.logo {
    max-width: 180px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar {
    border-bottom: 1px solid #000;

    li a {
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        font-weight: 600;
    }

    .cart-link {
        background-color: $color-text-dark;
        color: $color-white;
        max-width: 70px;
        position: relative;

        .badge {
            position: absolute;
            top: -7px;
            right: -7px;
            background-color: $primary;
        }
    }

    .cart-link:hover {
        color: $color-white !important;
        opacity: 0.8;
    }

    .fa-heart {
        font-size: 20px;
        color: $color-text-dark;
    }

    .fa-heart:hover {
        color: $primary;
    }

    .login-menu {
        padding-left: 10px;

        a {
            text-decoration: none;
        }
    }
}

.navbar-collapse.show .cart-link {
    margin-top: 20px;
}

.navbar-collapse.show .login-menu {
    padding-left: 5px;
    padding-top: 10px;
}

.dropdown {
    .dropdown-menu.show li a{
        text-transform: none;
    }
}

#search-form {
    .form-control {
        max-width: 200px;
    }
}
