header {
    background-color: $background-color;
}

.navbar {
    border-bottom: 1px solid #000;

    li a {
        font-family: $font-family-sans-serif;
        text-transform: uppercase;
        font-weight: 600;
    }

    .cart-link {
        background-color: $color-text-dark;
        color: $color-white;
        max-width: 70px;
        position: relative;

        .badge {
            position: absolute;
            top: -7px;
            right: -7px;
            background-color: $primary;
        }
    }

    .fa-heart {
        font-size: 30px;
        color: $color-text-dark;
    }
}

.navbar-nav {
    margin-left: auto;
}

.navbar-collapse .cart-link {
    margin-top: 20px;
}

.logo {
    max-width: 180px;
}

#search-form {
    .form-control {
        max-width: 200px;
    }
}
